.content{
    z-index: 1;
    width: 100%;
    height: calc(100% - 84px);
    margin-top: 84px;
    background-color: #F4F4F4;
}

.user-panel{
    position: relative;
    width: 700px;
    height: 85%;
    background-color: #F9F9F9;
    margin: 0 auto;
    top: 5%;
    border: solid 1px #727272;
    border-radius: 10px;
    box-shadow: 0px 0px 11.5px #00000025;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.profile-top { 
    min-height: 80px;
}
.profile-top>div{
    position: relative;
    margin: 0 auto;
    margin: 10px;
    margin-left: calc(50% - 27px);;
}

.panels-top {
    border-top: solid 1px #B8B8B8;
    border-bottom: solid 1px #B8B8B8;
    min-height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.panels-top button {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    background: none; 
    cursor: pointer; 
}

.panels-top button:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background: #B8B8B8;
}

.panels-top button:first-child {
    margin-left: 0;
}

.panels-top button:last-child {
    margin-right: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: solid 1px #B8B8B8;
}

.footer > a {
    color: #DC1B77;
    text-decoration: none;
}

.tab-button {
    position: relative; 
    flex-grow: 1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    height: 66px;
}

.tab-button.active,
.tab-button:hover {
    color: #DC1B77;
    border-bottom: 3px solid #DC1B77;
}


.tab-button:not(:last-child)::after {
    content: ''; 
    position: absolute;
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    height: 50%; 
    width: 1px; 
    background: #B8B8B8; 
}

.input {
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000025;
}

.action-button {
    display: block;
    width: 70%;
    padding: 15px;
    background-color: #DC1B77;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
}

.action-button:hover {
    background-color: #c4186b;
}

#page1{
    margin-top: 30px;
}

/* PAGE 2 */

#content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative; /* For positioning the detailed event view */
}

.content-item {
    margin: 20px;
    flex-basis: calc(45% - 40px);
    margin-bottom: 20px;
    border: solid 1px #727272;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #00000025;
}

.content-header {
    padding: 0px;
    text-align: left;
    line-height: 20px;
}

.content-header>h3 {
    font-size: 17px;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.content-header p:nth-child(2) {
    margin-top: 15px;
}

.content-header>p {
    color: #727272;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 1px;
}

.content-image {
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

.content-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.btn-interest,
.btn-more,
.btn-edit {
    flex: 1;
    margin: 0 5px;
    padding: 10px 10px;
    border: none;
    color: white;
    background-color: #DC1B77;
    border-radius: 10px;
}

.btn-interest:hover,
.btn-more:hover,
.btn-edit:hover {
    background-color: #c4186b;
}

/* Detailed event styles */
.detailed-event {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    /* max-width: 600px; */
    z-index: 10; /* Make sure it's above other content */
    height: 1px;
}

.detailed-event>button{
    margin-left: 20px;
}

.detailed-event>p{
    margin-left: 20px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: #E2E2E2;
    border-radius: 20px;
    box-shadow: 0 0px 8px rgb(0, 0, 0);

    cursor: pointer;
    padding: 0; /* Remove padding if not needed */
    display: flex; /* To center the image inside the button */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    
}

.close-btn img {
    width: 20px; /* Or the size you want your close icon to be */
    height: 20px; /* Or the size you want your close icon to be */
    padding: 10px;
}


.detailed-event-image {
    width: 100%;
    height: 250px;
    box-shadow: 0px 0px 12px #000000b9;
}

.detailed-event-image-info {
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 12px #000000b9;
    border-radius: 10px;
}

.detailed-event-name {
    font-size: 30px;
    /* font-weight: bold; */
    margin-bottom: -8px;
}

.detailed-event-info {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #B8B8B8;
    margin: 30px;
    width: 91%;
    height: 100%;
}

.detailed-event-info>p{
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 600px) {
    .content-item {
        flex-basis: 100%;
    }
    .detailed-event {
        width: 100%;
        max-width: none;
        left: 0;
        transform: none;
    }
}

.detailed-event-interest{
    font-size: 15px;
    color: #727272;
    margin-bottom: 15px;
}

.detailed-event-location{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -5px;
}

.btn-interest-detailed{
    font-size: 15px;
    flex: 1;
    margin: 0 5px;
    padding: 20px 20px;
    border: none;
    color: white;
    background-color: #DC1B77;
    border-radius: 10px;
}

.btn-interest-detailed:hover{
    background-color: #c4186b;
}

.detailed-event-date{
    color: #DC1B77;
    margin-bottom: -15px;
    font-weight: bold;
}

.detailed-event-info-container{
    display: flex;
    width: 100%;
    border-top: 1px solid #B8B8B8;
    margin-top: 40px;
}

.detailed-event-location-info{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -5px;
}

.detailed-event-interest-info{
    font-size: 15px;
    color: #727272;
    margin-bottom: 15px;
}

.detailed-event-title-info{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.detailed-event-creatorNickname-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detailed-event-creatorNickname-info img {
    flex-shrink: 0; /* Prevent the image from being resized */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}



.detailed-event-description-info{
    max-width: calc(100% - 40px); /* Assuming the avatar + margin is 40px */
    overflow: hidden;
    word-wrap: break-word;
}

/* PAGE 2 END */

/* PAGE 3 */

#created-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative; /* For positioning the detailed event view */
}

.created-content-item {
    margin: 20px;
    flex-basis: calc(45% - 40px);
    margin-bottom: 20px;
    border: solid 1px #727272;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #00000025;
}

.created-content-header {
    padding: 0px;
    text-align: left;
    line-height: 20px;
}

.created-content-header>h3 {
    font-size: 17px;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.created-content-header p:nth-child(2) {
    margin-top: 15px;
}

.created-content-header>p {
    color: #727272;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 1px;
}

.created-content-image {
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

.created-content-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.created-btn-interest,
.created-btn-more,
.created-btn-edit {
    flex: 1;
    margin: 0 5px;
    padding: 10px 10px;
    border: none;
    color: white;
    background-color: #DC1B77;
    border-radius: 10px;
}

.created-btn-interest:hover,
.created-btn-more:hover,
.created-btn-edit:hover {
    background-color: #c4186b;
}

/* Detailed event styles */
.created-detailed-event {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10; /* Make sure it's above other content */
}

.created-detailed-event>button{
    margin-left: 20px;
}

.created-detailed-event>p{
    margin-left: 20px;
}

.created-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: #E2E2E2;
    border-radius: 20px;
    box-shadow: 0 0px 8px rgb(0, 0, 0);
    cursor: pointer;
    padding: 0; /* Remove padding if not needed */
    display: flex; /* To center the image inside the button */
    align-items: center; /* Vertically center */
    justify-content: center;
}

.created-close-btn img {
    width: 20px;
    height: 20px;
    padding: 10px;
}

.created-detailed-event-image {
    width: 100%;
    height: 250px;
    box-shadow: 0px 0px 12px #000000b9;
}

.created-detailed-event-name {
    font-size: 30px;
    margin-bottom: -8px;
}

.created-detailed-event-info {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #B8B8B8;
    margin: 30px;
    width: 91%;
    height: 100%;
}

.created-detailed-event-info>p{
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 600px) {
    .created-content-item {
        flex-basis: 100%;
    }
    .created-detailed-event {
        width: 100%;
        max-width: none;
        left: 0;
        transform: none;
    }
}

.created-detailed-event-interest{
    font-size: 15px;
    color: #727272;
    margin-bottom: 15px;
}

.created-detailed-event-location{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -5px;
}

.created-btn-interest-detailed{
    font-size: 15px;
    flex: 1;
    margin: 0 5px;
    padding: 20px 20px;
    border: none;
    color: white;
    background-color: #DC1B77;
    border-radius: 10px;
}

.created-btn-interest-detailed:hover{
    background-color: #c4186b;
}

.created-detailed-event-date{
    color: #DC1B77;
    margin-bottom: -15px;
    font-weight: bold;
}

.created-detailed-event-info-container{
    display: flex;
    width: 100%;
    border-top: 1px solid #B8B8B8;
    margin-top: 40px;
}

.created-detailed-event-location-info{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -5px;
}

.created-detailed-event-interest-info{
    font-size: 15px;
    color: #727272;
    margin-bottom: 15px;
}

.created-detailed-event-title-info{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.created-detailed-event-creatorNickname-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.created-detailed-event-creatorNickname-info img {
    flex-shrink: 0; /* Prevent the image from being resized */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.created-detailed-event-description-info {
    max-width: calc(100% - 40px);
    overflow: hidden;
    word-wrap: break-word;
}


/* PAGE 3 END */

/* MODERATOR */
.panels-top-moderator {
    border-bottom: solid 1px #B8B8B8;
    min-height: 66px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
}

.moderator-controls {
    display: flex;
    align-items: center;
}

.control-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

.control-btn img {
    height: 20px;
    width: auto;
    display: block; 
}

.leftArrow{
    transform: rotate(90deg);
}

.rightArrow{
    transform: rotate(-90deg);
}

.search{
    padding: 10px;
    border: solid 1px #727272;
    box-shadow: 0px 0px 11.5px #00000025;
    border-radius: 8px;
    margin-left: 20px;
    padding-right: 100px;
}

.moderator-select{
    padding: 9px;
    border: solid 1px #727272;
    box-shadow: 0px 0px 11.5px #00000025;
    border-radius: 8px;
    margin-left: 20px;
    padding-right: 50px;
}

.moderator-content-page {
    display: none;
}

#moderatorPage1 {
    display: block;
}

#moderatorPage2 {

}

/* MODERATOR END */

/* OBIEKTY */

.arrowBG{
    border: solid 1px #727272;
    box-shadow: 0px 0px 11.5px #00000025;
    border-radius: 10px;
    width: 40px;
    margin-right: 20px;
}

.arrow{
    height: 20px;
    width: auto;
    display: block; 
    padding: 10px;
}

.dropdown-content {
    display: none;
    border-bottom: solid 1px #B8B8B8;
}

.dropdown-content h1{
    font-weight: 100;
    font-size: 25px;
    color: #727272;
    border-bottom: solid 1px #727272;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.dropdown-content button {
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropdown-content button:hover{
    background-color: rgb(199, 5, 5);
}

.info-row {
    display: flex;
    align-items: left;
    margin-bottom: 5px; 
    border-bottom: solid 1px #727272;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

.info-label {
    width: 30%; 
    min-width: 30%; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-value {
    max-width: 60%; 
    flex-grow: 1; 
    padding-left: 10px; 
    word-break: break-word; 
}

.rotate {
    transform: rotate(180deg);
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: solid 1px #B8B8B8;
}

.dropdown-header p {
    margin: 0; /* Remove default margin from <p> */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; /* Allow <p> to grow as needed */
    margin-left: 10px;
    padding: 20px;
}

/* First <p> might need a max-width to prevent it from pushing other elements too much */
.dropdown-header p:first-child {
    max-width: 20%; /* Adjust as needed */
}

.dropdown-header p + p {
    text-align: left; /* Center text if desired */
    flex-grow: 2; /* Adjust the growth rate as needed */
    max-width: 60%;
    border-left: solid 1px #B8B8B8;
}

.dropdown-header .arrow {
    flex-shrink: 0; /* Prevent the arrow from shrinking */
    transition: transform 0.3s ease;
}



/* OBIEKTY END */
