*{
    font-family: Helvetica;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 84px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #8C236F 0%, #DC1B77 100%);
    box-shadow: 15px 0px 25px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

#successMessage {
    display: none;
    padding: 10px;
    background-color: green;
    color: white;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border-radius: 10px;
}

.side_menu {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 6px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.side_menu:hover {
    cursor: pointer;
}

.animate {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.beam {
    width: 64px;
    height: 12px;
    background-color: white;
    border-radius: 10px;
}

.beam-middle-short {
    transform: translateY(-22px);
}

.beam-middle-top {
    transform: translateY(22px);
}

.short_beam {
    width: 32px;
    height: 12px;
    border: 1px solid white;
    border-radius: 10px;
}

.beam-top {
    align-self: flex-start;
    width: 64px;
    height: 12px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 37px;
}

.beam-bottom {
    width: 64px;
    height: 12px;
    background-color: white;
    border-radius: 10px;
    align-self: flex-end;
    position: absolute;
    top: 37px;
}

.open-top {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
}

.open-bottom {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(45deg);
    transform-origin: 50% 50%;
}

.hidden {
    visibility: hidden;
}

.header_logo {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 750px;
    background: url("logo.png"), no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.25);
}

.profile_icon {
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 67px;
    border: 1px solid #FFF;
    background: url("avatar.png"), no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    z-index: 20;
}

.profile_menu {
    position: fixed;
    border-radius: 36px;
    background: #FFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
    width: 328px;
    height: 223px;
    right: 12px;
    top: 8px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.profile_menu .text {
    margin-top: 10px;
    height: 43px;
    flex-shrink: 0;
    text-align: center;
    line-height: 40px;
}

.profile_menu .text a {
    color: #000;
    text-decoration: none;
    margin-right: 3px;
    margin-left: 3px;
}

.profile_menu .name {
    margin-top: 20px;
    color: #000;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile_menu .button {
    width: 184px;
    height: 43px;
    background-color: #DC1B77;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    border-radius: 10px;
}

.profile_menu .button:hover {
    cursor: pointer;
}

.sidebar {
    width: 365px;
    height: calc(100% - 84px);
    background: linear-gradient(90deg, #8C236F 0%, #DC1B77 100%);
    box-shadow: 15px 0px 25px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.7s ease-in-out;
    z-index: 2;
    display:flex;
    justify-content: center;
}

.sidebar_category_container {
    width: 86%;
    height: calc(100% - 140px);
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    overflow: auto;
}

.sidebar_category_container_bar {
    position: absolute;
    border-bottom: 3px solid #DBDBDB; 
    height: 1px;
    width: 76%;
    bottom: 120px;
    margin: 0 auto;
}

/* Stylowanie dla przeglądarek opartych na silniku WebKit */
.sidebar_category_container::-webkit-scrollbar {
    width: 6px; /* Szerokość paska przewijania */
    height: 90%;
}

.sidebar_category_container::-webkit-scrollbar-thumb {
    background-color: #DBDBDB; /* Kolor kciuka przewijania */
    border-radius: 5px; /* Zakrąglenie kciuka przewijania */
}

.sidebar_category_container::-webkit-scrollbar-track {
    background-color: rgba(174, 174, 174, 0.40); /* Kolor tła paska przewijania */
}

.category_wrapper {
    width: calc(100% - 30px);
    height: 60px;
    margin-bottom: 10px;
    line-height: 60px;
    color: #FFF;
    text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.25);
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
    display:flex;
}

.category_wrapper img {
    height: 60px;
    width: calc(height);
    border-radius: 21px;
    background: lightgray 50% / cover no-repeat;
}

.category_wrapper k {
    margin-left: 15px;
}

.sidebar_footer {
    width: calc(100% - 30px);
    height: 120px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.sidebar_footer_social {
    width: 30px;
    height: 30px;
}

.sidebar_footer_social a, .img {
    width: 30px;
    height: 30px;
    filter:brightness(100); 
}

.sidebar_show {
    transform: translateX(0);
}


/* Sekcja mapy */
.map {
    z-index: 1;
    width: 100%;
    height: calc(100% - 84px);
    margin-top: 84px;
}

.map_container {
    height: calc(100% - 84px);
    width:100%;
    margin-top: 84px;
}

.leaflet-popup-content-wrapper {
    width: 295px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #FFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 0 !important;
}

.leaflet-popup-content {
    margin: 0 !important;
}

.popup-image {
    height: 45%;
    width: 100%;
    background-color: black;
}

.popup-info {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
}

.popup-info .title {
    color: #000;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin: 7px;
}

.popup-info .info {
    color: #000;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 7px;
}

.popup-info img {
    margin-right: 4px;
}

.popup-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.popup-button {
    width: 109px;
    height: 32px;
    background-color: #DC1B77;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 5px;
}

.popup-category {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}